{% extends "base.html" %}

{% block title %}Book Reviews{% endblock %}

{% block content %}
    <h2>Available Books</h2>
    <div class="book-list">
        {% for book in books %}
        <div class="book-card">
            <h3>{{ book.title }}</h3>
            <p><strong>Author:</strong> {{ book.author }}</p>
            <img src="{{ url_for('static', filename=book.cover_image) }}" alt="{{ book.title }}" width="150">
            <a href="{{ url_for('book_details', book_id=loop.index) }}" class="read-more-button">Read More</a>
        </div>
        {% endfor %}
    </div>
{% endblock %}
